.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
}

.darkMode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.emojiBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.floatingEmoji {
  position: absolute;
  font-size: 3rem;
  user-select: none;
  pointer-events: auto;
}

.darkModeToggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
}

.darkMode .subtitle {
  color: #aaa;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.socialLink:hover {
  transform: translateY(-5px);
}

.emoji {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.linkText {
  font-size: 0.8rem;
}

.about, .skills {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  /* margin: 0, auto, 2rem, auto; */
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  
}

.darkMode .about, .darkMode .skills {
  background-color: #2a2a2a;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.about h2, .skills h2 {
  margin-bottom: 1rem;
}

.skillList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skillItem {
  background-color: #3498db;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  position: relative;
  overflow: hidden;
}

.skillItem::before {
  content: '';
  position: absolute;
  top: var(--glow-y);
  left: var(--glow-x);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 70%);
  opacity: 0.5;
  transition: top 2s, left 2s;
}

@media (max-width: 600px) {
  .main {
    padding: 1rem;
  }

  .profileImage {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .about, .skills {
    padding: 1.5rem;
  }

  .skillItem {
    font-size: 0.8rem;
  }

  .floatingEmoji {
    font-size: 2rem;
  }
}